<div id="display-drop-area" class="mt-5" style="position: relative;">
    @if (_imageSelected == false)
    {
        <InputFile class="drop-area" OnChange="LoadImage" @ondragenter="HandleDragEnter"/>
        
        <div style="z-index: -1; position: absolute;">
            <i class="bi bi-image text-light" style="font-size: 7.5em;"></i>
            @* <button type="button" class="btn btn-primary align-self-center mb-2">Browse</button> *@
            <p class="text-muted">
                <span class="text-primary fw-bold">Click to browse</span> or drag an image here
            </p>
        </div>
    }
    else
    {
        @* <img src="Uploads/target.jpg" class="img-fluid" alt="Image uploaded by the user."/> *@
        <h1>Image being processed, hold on...</h1>
    }
</div>

@code {
        private const string DefaultColor = "border-info";
        private const string ActiveColor = "border-primary";

    private string _boxColor = DefaultColor;
    private bool _imageSelected;

    private void HandleDragEnter() => _boxColor = ActiveColor;
    
    private async Task LoadImage(InputFileChangeEventArgs e)
    {
        await using var stream = new FileStream("wwwroot/Uploads/target.jpg", FileMode.Create);
        await e.File.OpenReadStream(5 * 1024 * 1024).CopyToAsync(stream);

        _boxColor = DefaultColor;
        _imageSelected = true;
    }
}