@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <h1 class="mb-3 display-1 text-primary fw-bold">Welcome to Widerpaper!</h1>
    <h3 class="text-primary text-opacity-75">Convert your Widescreen wallpapers into Ultrawide!</h3>
    
    <div class="mt-5 d-flex flex-column justify-content-center" style="min-height: 40vh; border: 3px dashed lightgrey; border-radius: 20px;">
        <i class="bi bi-image text-light" style="font-size: 7.5em;"></i>
        <button type="button" class="btn btn-primary align-self-center mb-2">Browse</button>
        <p class="text-primary">or drag an image here</p>
    </div>
</div>

@code {

}
