@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <h1 class="mb-5 fw-bold">Welcome to Widerpaper!</h1>
    
    <div class="d-flex flex-column justify-content-center" style="min-height: 50vh">
        <h3>Upload your files</h3>
        <i class="bi bi-cloud-arrow-up-fill display-1"></i>
        <p>Drag and drop an image here</p>
    </div>
</div>

@code {

}
