@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <h1 class="mb-5 fw-bold">Welcome to Widerpaper!</h1>
    
    <div class="d-flex flex-column justify-content-center border border-light border-4 rounded-3" style="min-height: 50vh;">
        <i class="bi bi-cloud-arrow-up-fill" style="font-size: 10em;"></i>
        <button type="button" class="btn btn-primary align-self-center mb-2">Browse</button>
        <p>or drag an image here</p>
    </div>
</div>

@code {

}
